* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Robto",sans-serif;
}

.Header {
    background-color: black;
    position: fixed;
    top: 0;
    height:100vh;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index:9;
}
.Header ul li {
    list-style: none;
    padding:2rem 1rem;
}
.Header ul li a {
    color: rgb(255, 253, 253);
    display: inline-block;
   
    font-size: 25px;
}
.Header ul li a i{
    font-size:25px;
}

.container .pic img {
    width: 300px;
    height:400px;
  
    box-shadow: -11px 13px white;
}
.home{
    position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:100px;
 


  left:245px;
}

.Detail {
    width: 560px;
    font-size: 30px;
    text-align: center;
    margin-top:30px;
    margin-left:50px;
   
}

.Detail h1,.Detail p {
    border-left: 5px solid;

}

.Detail h1,p {
    margin-left: 40px;
    padding: 10px 10px 10px 40px;
    color: rgb(32, 29, 27);
    font-weight:400;
}

.Resume,.Hire {
    display: inline-block;
    margin: 15px;
    padding: 15px 10px;
    width: 180px;
    height: 45px;
    background-color: white;
    font-size: 18px;
    border:1px solid black;
}
.Detail a{
    text-decoration:none;
    color:black;
}
.Detail a:hover{
    
    color:white;
}

.Resume:hover,.Hire:hover{
    background-color: black;
    color: rgb(254, 253, 250);
}

.main-box {
    width: 400px;
    height: 100vh;
    background-color: black;
}


/* About section css........................................................  */
.About-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    background-color:#E0E0E0;
}
.About-box{
    width:70%;
    background-color:#E0E0E0;
    height:400px;
    /* border: 1px solid black; */
    margin-left:100px;
    display: flex;
    padding:10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94,104,121, .288);
    border-radius:10px;
    text-align:center;
}
.About-box h1{
    font-size:35px;
    font-weight:700;
}
/* Code section .............................................  */
.Code-cont{
  width:100%;
  padding-top:20px;
}
.Code-heading h1{
    font-size:45px;
    font-weight:bolder;
    margin-left:40px;
    text-align: center;

}
.Skill-cont{
    display: flex;
    
}
.Skill-cont .Skill-box{
  
    margin-left:150px;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.Skill-cont .Skill-box img{
   
    width:350px;
    height:250px;
    
}
.Skill-cont .Skill-box h2{
    font-size:27px;
    margin:0 40px;
   
}
/* Bag section .............................................  */
.Bag-heading h1{
    font-size:38px;
    margin-left:100px;
    padding:40px 0 0 40px;
    font-weight:700;
}

.Bagcomp1-cont{
    display:flex;
    justify-content: center;
}
.Bagcomp1-box{
    display: flex;
    width:100%;
    justify-content:space-evenly;
    margin:0 0  0 100px;
    padding:40px 40px 0 40px;
}
.Bagcomp1-box .comp1date p{
    width:300px !important;
    text-align: center;
}
.Bagcomp1-box .comp1pera{
    width:800px;
    margin:0 30px;
    text-align:start;

    padding:0px 30px 0 0;
}
.Bagcomp1-box ul li{
    list-style: none;
    padding:5px;
    line-height:1.3;
}
.Bagcomp1-box .comp1pera h1,h2{
  padding-bottom:10px;
  color: rgb(32, 29, 27);
  font-weight:400;   
}

/* Graduation...............................................................  */
.ul-list ul{
   margin-left:100px; 
   padding:40px 0 0 40px; 
   display: flex;
  
}
.ul-list ul li{
    list-style:none;
    /* padding:10px 40px; */
    border:1px solid black;
}
.ul-list ul li a{
    display: inline-block;
    text-decoration:none;
    padding:14px 60px;
    color:black
}
.ul-list .btn-1:focus,.ul-list .btn-2:focus{
      color:white !important;
      background-color:black !important;
}
/* .ul-list ul li a:hover{
    background-color: black;
    color:white;
} */
/* .ul-list ul li a:focus{
    background-color: black;
    color:white;
} */
/* Educat component...................................................................  */

.Educat-cont{
    display:flex;
    justify-content: center;
}
.Educat-box{
    display: flex;
    width:100%;
    justify-content:space-evenly;
    margin:0 0  0 100px;
    padding:40px 40px 0 40px;
}
.Educat-box .Date-box p{
    width:300px;
    text-align: center;
}
.Educat-box .Detail-box{
    width:800px;
    margin:0 30px;
    text-align:start;
    padding:0px 30px 0 0;
}
.Educat-box ul li{
    list-style: none;
    padding:5px;
    line-height:1.3;
}
.Educat-box .Detail-box h1,h2{
  padding-bottom:10px;
  color: rgb(32, 29, 27);
  font-weight:400;   
}












/* portfolio........................................................    */
.portfolio-cont{
    width:100%;
    height:100vh;
}

.portfolio-heading h1{
    font-size:38px;
    margin-left:100px;
    padding:40px 0 0 40px;
    font-weight:700;
}
.port-cop-box{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:start;
    margin-left:70px;
    margin-top:50px;
    
}

.port-box{
    width:350px;
    height:280px;
    border:1px solid silver;
    overflow-x: hidden;
    border-radius:10px;
    margin:20px 10px;
    background-position: top;
    transition:ease-in-out 2s;
    
    background-image:url(/public/port.png);
    /* background-position: center; */
    background-size:cover;

}
.port-box:hover{
    background-position:bottom;
}

/* contect............................................................  */
.Contect-cont{
    width:100%;
    height:100vh;
}
.contect-heading{
    font-size:25px;
    margin-left:100px;
    padding:40px 0 0 40px;
    font-weight:700;
    text-align: center;
    text-transform: uppercase;
     font-weight:100;
}
.import-component{
    display:flex;
    justify-content: center;
   
}
.Input-copy-1{
    width:100%;
    padding:15px;
    border-radius:5px;
    margin-bottom:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
}
.Input-small{
    width:48%;
    padding:15px;
    border-radius:5px;
    margin-bottom:30px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.form{
    width:1000px;
    margin-top:10px;
    /* border:1px solid black; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:20px;
    margin-left:100px;
    border-radius:10px;
   
}
form{
    text-align: center;
    padding-top:15px;
}
#Input-msg{
    width:100%;
    height:160px;
    margin-bottom:30px;
    border-radius:10px;
    border:none;
    padding:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align:top; */
}
.btn-submit{
    width:100%;
    text-align: center;
}
.btn-submit button{
    background-color: blue;
    color:white;
    border: none;
    border-radius:5px;
    padding:15px 40px;
    font-size:20px;
}
#Input-sm-left{
    margin-right:26px;
}
input{
    font-size:20px;
}
textarea{
    font-size:20px; 
    width:100%;
}
/* Home section mediya q............................................  */
@media all and (max-width:1024px){
  .main-box{
     width:300px;
  }
  .container{
    position: absolute;
   
    left:180px;
  }
  .container .pic img {
    width:250px;
    height:300px;
  
}
/* .Detail h1,.Detail p {
    border-left: 5px solid;

} */

.Detail h1,p {
    margin-left:20px;
    padding: 10px 10px 10px 0;
    font-size:30px;
    font-weight:500;
}
.Resume,.Hire {
  
    padding: 10px 10px;
    width:140px;
    height:40px;
    font-size: 18px;
   
}
.Detail{
    width: 450px;
}

}
@media all and (max-width:768px){
    .main-box{
        width:250px;
     }
     .container{
        position: absolute;
        left:155px;
      }
      .container .pic img {
        width:200px;
        height:250px;
      
    }
    .Detail h1,p {
        margin-left:20px;
        padding: 10px 10px 10px 10px;
        font-size:25px;
        font-weight:700;
    }
    .Detail{
        width:350px;
        margin-left:30px;
    }
    .Resume,.Hire {
  
        padding: 10px 10px;
        width:130px;
        height:40px;
        font-size: 18px;
       
    }
}
@media all and (max-width:424px){
    .Header{
        width:60px;
    }
    .main-box{
         width:0;
    }
    .container{
        flex-direction:column;
        justify-content: center;
        position: absolute;
        left:65px;
        top:95px;
      }
      .container .pic img {
        width:160px;
        height:210px;
      
    }
    .Detail{
        width:350px;
        margin-left:0;
    }
    .Resume,.Hire {
  
        padding:5px 10px;
        width:100px;
        height:30px;
        font-size:16px;
       
    }
    .Detail h1,p {
       
        margin-left:0;
        padding: 10px 0px 10px 0px;
        font-size:25px;
        font-weight:700;
    }
}
@media all and (max-width:375px){
    .Header{
        width:60px;
    }
    .container .pic img {
        width:150px;
        height:200px;
      
    }
    .container{
        flex-direction:column;
        justify-content: center;
        position: absolute;
        left:46px;
        top:100px;
      }
}
@media all and (max-width:320px){
    .Header{
        width:60px;
    }
    .container .pic img {
        width:140px;
        height:190px;
      
    }
    .container{
        flex-direction:column;
        justify-content: center;
        position: absolute;
        left:20px;
        top:100px;
      }
      .Hire .Resume{
        padding: 5px 5px;
        width: 85px;
        height: 30px;
        font-size: 15px;
      }
      .Detail h1,p {
       font-size:18px
    }
}
/* About section mq............................................................  */
@media all and (max-width:1024px){
    .Header{
        width:80px;
    }

}
@media all and (max-width:768px){
    .Header{
        width:60px;
    }
   
    .About-box h1{
        font-size:30px;
        font-weight:700;
    }
    .About-box p{
        font-size:16px;
    }


    
}
@media all and (max-width:425px){
    .About-box{
        margin-left:70px;
        border-radius:0;
    }
    .About-box p{
       margin:0;
       font-size:14px;
    }

   
}
@media all and (max-width:375px){
    .About-box{
      
        border-radius:0;
    }
    .About-box p{
       margin:0;
       font-size:13px;
    }
    .About-box h1{
        font-size:27px;
    }

   
}
@media all and (max-width:320px){
    .About-box{
       
       
        border-radius:0;
    }
    .About-box p{
       margin:0;
       font-size:12px;
    }
    .About-box h1{
        font-size:25px;
    }

   
}
/* bag section mq ...........................................................  */
@media all and (max-width:1024px){
    .Bagcomp1-box .comp1date p {
        width: 320px !important;
    }
    .Bag-heading h1 {
       
        margin-left: 70px;
      
    }
}
@media all and (max-width:768px){
    .Bagcomp1-box {
      
        margin: 0 0 0 30px;
       
    }
    .Bag-heading h1 {
       
        margin-left:60px;
       
    }
    .Bagcomp1-box .comp1date p {
        width: 280px !important;
    }
}
@media all and (max-width:425px){
    .Bag-heading h1 {
        font-size:35px;
        margin-left: 240px;
    }
    .Bagcomp1-box {
     
        margin: 0 0 0 110px;
       
    }
}
@media all and (max-width:375px){
    .Bagcomp1-box {
     
        margin: 0 0 0 130px;
       
    }
    .Bag-heading h1 {
       
        margin-left: 210px;
    }
}
/* graduation section .......................................................  */
@media all and (max-width:1024px){
    .Educat-box .Detail-box h1, h2 {
        font-size: 28px;
      
    }
    .Educat-box .Date-box p {
        font-size: 25px;
        width: 350px;
        text-align: center;
    }
}
@media all and (max-width:768px){
    .ul-list ul {
        margin-left: 60px;
      
    }
    .Educat-box .Detail-box h1, h2 {
        font-size: 25px;
       
    }
    .Educat-box .Date-box p {
        font-size: 22px;
      
    }
    .Educat-box {
      
        margin: 0px 0 0 20px;
      
    }
}
@media all and (max-width:425px){
    .Educat-box .Date-box p {
        font-size:14px;
        width: 160px;
        text-align: center;
    }
    .ul-list ul li a {
      
        padding: 14px 10px;
        color: black;
        font-size: 15px;
    }
    .Educat-box .Detail-box h1, h2 {
        font-size:18px;
    }
    .Educat-box {
        margin: 0px 0 0 124px;
    }
}
@media all and (max-width:375px){
    .Educat-box .Date-box p {
        font-size: 16px;
        width: 188px;
        text-align: center;
    }
    .Educat-box {
      
        margin: 0px 0 0 240px;
       
    }
}
@media all and (max-width:320px){
    .Educat-box .Date-box p {
        font-size: 14px;
        width: 160px;
        text-align: center;
    }
    .Educat-box {
      
        margin: 0px 0 0 255px;
       
    }
    .ul-list ul {
        margin-left: 50px;
        
    }
    .ul-list ul li a {
      padding: 14px 8px;
      font-size: 14px;
    }
}

/* Code section mediya q............................................  */
@media all and (max-width:1024px){
    .Skill-cont .Skill-box img{
   
        width:300px;
        height:200px;
        
    }
    .Skill-cont .Skill-box{
        margin-top:30px;
    }
    .Code-cont .Code-heading h1{
        font-size: 40px;
        margin-left: 0;
    }
    .Skill-cont .Skill-box h2{
        font-weight: 700;
        font-size: 23px;
        margin: 0px 50px;
    }
  
    
    
}
@media all and (max-width:768px){
    .Skill-cont .Skill-box{
        margin-left:100px;
    }
}
@media all and (max-width:425px){
    .Skill-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Skill-cont .Skill-box {
        width: 300px;
        margin-left:96px;
        height: 250px;
    }
    .Skill-cont .Skill-box img{
   
        width:300px;
        height:200px;
        
    }
    .Code-cont .Code-heading h1{
      
            font-size:35px;
            /* font-weight: bolder; */
            margin-left:80px;
            text-align: center;
        
    }
    .Skill-cont .Skill-box h2{
        font-size: 20px;
        font-weight:700;
        margin:0 45px;
    }
}
@media all and (max-width:375px){
    .Skill-cont .Skill-box{
        width: 280px;
        margin-left:66px;
        height:238px;
    }
    .Skill-cont .Skill-box h2{
        font-size: 20px;
        font-weight:700;
        margin:0 49px;
    }
    .Skill-cont .Skill-box {
        width: 275px;
        margin-left: 85px;
        height: 235px;
    }
   .Code-cont .Code-heading h1{
        font-size: 35px;
        font-weight: bolder;
        margin-left:70px;
        text-align: center;
    }
    
}
@media all and (max-width:320px){
    .Code-cont .Code-heading h1 {
        font-size: 32px;
        font-weight: bolder;
        margin-left: 123px;
        text-align: center;
    }
}
/* portfolio section mediya q............................................  */
@media all and (max-width:1024px){
    .port-box{
        width:250px;
        height:200px;
        border-radius:10px;
        margin:20px 10px;
        
    
    }
}
@media all and (max-width:768px){
    .port-box{
        
        margin:10px 30px;
    }
    .portfolio-heading h1{
        font-size:30px;
        margin-left:80px!important;
       
        font-weight:500;
    }
    .port-cop-box{
        
        margin-top:30px;
        
        
    }
}
    @media all and (max-width:425px){
        
        .port-box{
        
            /* margin:10px 40px 10px 70px; */
        }
        
        .portfolio-heading h1{
            font-size:30px;
            /* margin-left:120px; */
            font-weight: 500;
        }
        .port-cop-box{
             margin-top:30px;
            /* margin-left:70px !important; */
        }
}
@media all and (max-width:375px){
    .portfolio-heading h1{
       
        margin-left:100px!important;
       
    }
    .port-cop-box{
        margin-top:30px;
       margin-left:40px!important;
   }
   .port-box{
        
      
}
}
@media all and (max-width:320px){
    .portfolio-heading h1{
       
        margin-left:70px!important;
        
       
    }
    .port-cop-box{
        margin-top:30px;
        margin-left:70px!important;
     }
   .port-box{
    width:200px;
    height:150px;
    border-radius:10px;
    margin:20px 0;
    

}
}




/* Contact section mediya q.........................................  */
@media all and (max-width:1070px){
    .Input-copy-1{
        width:80%;
        padding:7px;
        font-size:20px;
        margin-bottom:20px;
    }
    .form{
        width:700px;
        padding:7px;
        font-size:20px;
    }
    #Input-msg{
        width:80%;
        height:160px;
        font-size:20px;
        margin-bottom:20px;
    }
    .Input-small{
        width:39%;
        padding:7px;
        font-size:20px;
        margin-bottom:20px;
    }
    #Input-sm-left{
        margin-right:8px;
    }

}
@media all and (max-width:850px){
    .Input-copy-1{
        width:70%;
        padding:7px;
        font-size:20px;
    }
    .form{
        width:500px;
        padding:7px;
        font-size:20px;
        margin-top:50px;
    }
    #Input-msg{
        width:70%;
        height:160px;
        font-size:20px;
    }
    .Input-small{
        width:34%;
        padding:7px;
        font-size:20px;
    }
    #Input-sm-left{
        margin-right:13px;
    }

}
@media all and (max-width:640px){
    .contect-heading{
        font-size:14px !important;
        font-weight:100 !important;
        margin-left:30px !important;
       
       
        
    }
   
    .Input-copy-1{
        width:100%;
        padding:3.5px;
        
    }
    .form{
        width:70%;
        height:100%;
        padding:10px;
        margin-right:30px;
        margin-top:50px;
       
    }
    #Input-msg{
        width:100%;
        height:80px;
       
    }
    .Input-small{
        width:100%;
        padding:3.5px;
      
    }
    
    #Input-sm-left{
        margin-right:0;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-submit button{
       
        border-radius:5px;
        padding:8px 15px;
        font-size:16px;
        
    }
    .contect-heading{
        font-size:20px;
    }
    .Header{
        width:70px;
    }
    input{
        font-size:16px !important;
    }
    textarea{
        font-size:16px !important; 
        
    }
    .btn-submit button{
       
        border-radius:5px;
        padding:8px 10px !important;
        font-size:18px !important;
    }
}
  
  